{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card border-0 shadow my-5 bg-light">
    <div class="card-body p-5">
    <a class="navbar" href="/">
          <img src="{{url_for('static', filename='hok.png')}}" height=200 width=200/>
    </a>
    <h1>Registreerimine Hiiumaa p&auml;evakule</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

    {% for message in messages %}
{{message[1]}}

{% endfor %}
        {% endif %}
{% endwith %}
<form action="" method="post" role="form">
    {{ form.csrf }}
<div class="form-group">
    <br>
      <label for="name">Kas sa oled s&uuml;ndinud enne 2001. aastat(k.a)? (Osaled shokolaadi loosimises)</label>
<input type="checkbox" class="form-control" id="vanus" name="vanus">
        <button type="submit" class="btn btn-success">Edasi</button>

</div></div>
{% endblock %}